.navbar button {
    padding: 10px;
    background-color: #403cb9;
    color: white;
    font-size: 20pt;
    cursor: pointer;
    border: none;
}

.navbar button:hover {
    background-color: #341588;
    color: rgba(255, 255, 255, 0.68);
    transition: 0.2s;
}

.navbar {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
}

.navbar a, .navbar button {
    width: 100%;
}